.button {
	border: 0;
	background-color: $color--black-light;
	border-radius: 0.8rem;
	font-size: 1.4rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	padding: 0 2rem;
	cursor: pointer;
	color: $color--white;

	&:hover {
		background-color: $color--black-lighter;
	}
}
